.header {
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed; /*This is for the heading*/
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(0, 0, 0);
  padding-left: 30px;
  padding-right: 30px;
  background-color: rgb(0, 15, 44);
}


.left-section {
  display: flex;
}

.right-section {
  display: flex;
  column-gap: 30px;
}

.right-section p {
  display: inline-block;
  color: white;
}
