
body {
  background-color: rgb(137, 220, 255);
  font-family: arial;
}

.page-one {
  /*padding-top: 55px;*/
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.intro-text {
  font-size: 50px;
  font-family: "Arial Black", Gadget, sans-serif;
letter-spacing: -1px;
word-spacing: 0px;
  color: #fbff00;
text-shadow: -4px 4px 0px #020078;
}

.intro-text span{
  color: white;
}
.link-icons {
  height: 40px;
}

#profile-1 {
  height: 700px;
}
