* {
  margin: 0;
}

body {
  background-color: #0094ff;
  font-family: arial;
  padding-top: 55px;
    height: 1500px;
}

.page-one {
  height: 90vh;
  border-width: 2px;
  border-style: solid;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

.subject-word {
  position: absolute;
  right: 30px;
  top: 30px;
  font-family: "Copperplate", fantasy;
  color: white;
  font-size: 40px;
}

.portfolio-word {
  font-size: 23vw; /*350px*/
  font-family: "Copperplate", fantasy;
  color: white;
  text-shadow: -8px 8px 0px #020078;
}

#profile-1 {
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 50%; /* move its left edge to the middle */
  transform: translateX(-50%);
}

.name-section-container {
  position: absolute;
  left: 30px;
  bottom: 30px;
}

.name-section-container p {
  font-size: 30px;
  font-family: "Arial", Gadget, sans-serif;
  color: white;
}

.icons-container {
  position: absolute;
  right: 30px;
  bottom: 30px;
}

.link-icons {
  height: 50px;
}

